<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron myJumbotron">
    <h1>Interactive Labs Interface</h1>
    <p>You will find below a list of Labs that you can enroll in. We encourage students to prepare their labs in advance, so here we offer a large data base for the different labsand it is an easy to use labs interface.</p>
    <p>To see the different Labs available, just scroll, or click this buton</p>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Lab Courses <span class="caret"></span></button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Chemistry Lab</a></li>
        <li><a href="#">Physics Lab</a></li>
        <li><a href="#">Electronics Lab</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="assets/img/daria-nepriakhina-99257.jpg">
        <div class="caption">
          <h3>Chemistry Lab</h3>
          <p>In This Collection you will find all the labs, Tutorials and Prelabs that you need.</p>
          <p><a href="#" class="btn btn-primary" role="button">Get Started</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="assets/img/samuel-zeller-118178.jpg">
        <div class="caption">
          <h3>Physics Lab</h3>
          <p>In This Collection you will find all the labs, Tutorials and Prelabs that you need.</p>
          <p><a href="#" class="btn btn-primary" role="button">Get Started</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="assets/img/brian-kostiuk-252865.jpg">
        <div class="caption">
          <h3>Electronics Lab</h3>
          <p>In This Collection you will find all the labs, Tutorials and Prelabs that you need.</p>
          <p><a href="#" class="btn btn-primary" role="button">Get Started</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

